<template>
  <v-row>
    <v-col cols="12">

      <app-table :headers="table.headers"
                 :items="squares">

        <template #actions>
          <v-row>
            <v-col cols="12">
              <app-button @click="startJob" class="mr-2">
                start
              </app-button>

              <app-button @click="$emit('close')">
                back
              </app-button>
            </v-col>
          </v-row>
        </template>

        <template #items="{ item }">
          <td> {{ item.p1 }}</td>

          <td> {{ item.p2 }}</td>

          <td> {{ item.p3 }}</td>

          <td> {{ item.p4 }}</td>
        </template>
      </app-table>

    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'SquareList',
  props: {
    points: Array
  },
  data () {
    return {
      squares: [],
      table: {
        headers: [
          { text: 'p1', value: 'p1', sortable: true },
          { text: 'p2', value: 'p2', sortable: true },
          { text: 'p3', value: 'p3', sortable: true },
          { text: 'p4', value: 'p4', sortable: true }
        ]
      },
      started: false
    }
  },
  methods: {
    initWorker () {
      this.worker = new Worker('@/utils/squareWorker.js', { type: 'module' })

      this.worker.onmessage = this.onReceivedData
    },
    startJob () {
      this.squares = []
      this.started = true
      this.worker.postMessage(this.points)
    },
    onReceivedData (e) {
      this.squares.unshift(e.data)
    }
  },
  created () {
    this.initWorker()
  }
}
</script>

<style scoped>
</style>
