<template>
  <v-row>
    <v-col cols="12">

      <app-button @click="emitAdd"
                  class="mr-2">
        <v-icon>mdi-plus</v-icon>
      </app-button>

      <app-button v-if="isSelected"
                  @click="emitRename"
                  class="mr-2">
        rename
      </app-button>

      <app-button v-if="isSelected"
                  @click="emitReload"
                  class="mr-2">
        reload data
      </app-button>

      <app-button v-if="isSelected"
                  @click="emitSave"
                  class="mr-2">
        save
      </app-button>

      <app-button v-if="isSelected"
                  @click="emitDelete">
        delete
      </app-button>

    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'CollectionControls',
  props: {
    selected: Object
  },
  computed: {
    isSelected () {
      return this.selected
    }
  },
  methods: {
    emitAdd () {
      this.$emit('add')
    },
    emitRename () {
      this.$emit('rename')
    },
    emitReload () {
      this.$emit('reload')
    },
    emitDelete () {
      this.$emit('delete')
    },
    emitSave () {
      this.$emit('save')
    }
  }
}
</script>

<style scoped>
</style>
