<template>
  <v-row no-gutters align="center">

    <v-col cols="6">
      <v-form ref="form"
              v-model="valid"
              lazy-validation
              @submit="inputDone"
              onSubmit="return false"
              class="mr-3">
        <v-text-field v-model="form.name"
                      :rules="rules.name"
                      label="Name"
                      required />
      </v-form>
    </v-col>

    <v-col cols="6">
      <app-button @click="inputDone">
        {{ label }}
      </app-button>

      <app-button @click="close"
                  class="ml-2">
        cancel
      </app-button>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'EditForm',
  props: {
    renamingName: String,
    names: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      label: '',
      valid: true,
      form: {
        name: ''
      },
      rules: {
        name: [
          v => !!v || 'Name is required',
          v => v !== this.renamingName || 'Pick a different name!',
          v => !this.names.includes(v) || 'Names must be unique'
        ]
      }
    }
  },
  methods: {
    close () {
      this.clearErrors()
      this.$emit('close')
    },
    inputDone () {
      if (this.validate()) this.$emit('inputDone', this.form.name)
    },
    validate () {
      return this.$refs.form.validate()
    },
    clearErrors () {
      this.$refs.form.resetValidation()
    }
  },
  created () {
    if (this.renamingName) {
      this.form.name = this.renamingName
      this.label = 'rename'
    } else {
      this.label = 'add'
    }
  }
}
</script>

<style scoped>
</style>
