<template>
  <div>

    <v-row v-if="!isEditing">
      <v-col cols="12">
        <v-select :value="selectedCollection"
                  :items="allCollections"
                  :item-text="constructSelectName"
                  @change="emitCollectionSelected"
                  return-object
                  hide-details
                  label="Collections" />
      </v-col>
    </v-row>

    <collection-controls v-if="!isEditing"
                         :selected="selectedCollection"
                         @add="editing.adding = true"
                         @rename="editing.renaming = true"
                         @save="saveCollection"
                         @delete="deleteSelectedCollection"
                         @reload="reloadSelectedCollectionData" />

    <v-row v-if="isEditing">
      <v-col cols="12">
        <edit-form :renamingName="renamingName"
                   :names="currentNames"
                   @inputDone="inputDone"
                   @close="resetEditing" />

      </v-col>
    </v-row>

  </div>
</template>

<script>
import CollectionControls from '@/components/points/collection/CollectionControls'
import EditForm from '@/components/points/collection/EditForm'
import collectionsApi from '@/api/collectionsApi'
import _ from 'lodash'

export default {
  name: 'PointsCollection',
  components: {
    CollectionControls,
    EditForm
  },
  data () {
    return {
      collections: [],
      editing: {
        renaming: false,
        adding: false
      }
    }
  },
  computed: {
    unsavedCollections () {
      return this.$store.getters['collections/getAllCollections']
    },
    selectedCollection () {
      return this.$store.state.collections.selected
    },
    allCollections () {
      return [
        ...this.collections,
        ...this.unsavedCollections
      ]
    },
    currentNames () {
      return this.allCollections.map(c => c.name)
    },
    isEditing () {
      return this.editing.adding || this.editing.renaming
    },
    renamingName () {
      return this.editing.renaming ? this.selectedCollection.name : null
    }
  },
  methods: {
    fetchCollectionsData () {
      const extendData = i => ({
        ...i,
        localId: null,
        persisted: true
      })

      return collectionsApi.fetchAll()
        .then(({ data }) => {
          this.collections = data.map(extendData)
        })
        .catch(this.addError)
    },
    constructSelectName (item) {
      const unsavedText = item.persisted ? '' : ' - unsaved'
      return `${item.name}${unsavedText}`
    },
    reloadSelectedCollectionData () {
      this.emitCollectionSelected(this.selectedCollection)
    },
    emitCollectionSelected (collection) {
      this.$emit('collectionSelected', collection)
    },
    emmitLocalCollectionDeleted (name) {
      this.$emit('localCollectionDeleted', name)
    },
    saveCollection () {
      this.$emit('collectionSaved', this.selectedCollection)
    },
    deselectCollection () {
      this.$store.commit('collections/deselectCollection')
    },
    selectCollection (collection) {
      this.$store.commit('collections/selectCollection', collection)
    },
    deleteSelectedCollection () {
      const deleteSavedCollection = id => {
        collectionsApi.deleteCollection(id)
          .then(this.fetchCollectionsData)
          .catch(this.addError)
      }

      const deleteLocalCollection = localId => {
        this.$store.commit('collections/deleteCollection', localId)
        this.emmitLocalCollectionDeleted(localId)
      }

      if (this.selectedCollection.persisted) {
        deleteSavedCollection(this.selectedCollection.id)
      } else {
        deleteLocalCollection(this.selectedCollection.localId)
      }

      this.deselectCollection()
      this.reloadSelectedCollectionData()
    },
    renameSelectedCollectionData () {
      this.$emit('collectionRenamed', this.selectedCollection)
    },
    inputDone (inputName) {
      const addCollection = name => {
        const collection = {
          id: null,
          localId: _.uniqueId('local_'),
          name,
          persisted: false
        }

        this.$store.commit('collections/saveCollection', {
          id: collection.localId,
          collection: Object.assign({}, collection)
        })

        this.selectCollection(collection)

        this.resetEditing()
      }

      const renameCollection = name => {
        if (this.selectedCollection.persisted) {
          collectionsApi.renameCollection(this.selectedCollection.id, name)
            .then(this.fetchCollectionsData)
            .then(() => {
              const selected = Object.assign({}, this.collections.find(({ id }) => this.selectedCollection.id === id))

              this.selectCollection(selected)
              this.renameSelectedCollectionData()
            })
            .catch(this.addError)
        } else {
          const renamed = Object.assign({}, this.selectedCollection, { name })
          this.selectCollection(renamed)

          this.$store.commit('collections/saveCollection', {
            id: renamed.localId,
            collection: Object.assign({}, renamed)
          })
        }
      }

      if (this.editing.adding) {
        addCollection(inputName)
      } else if (this.editing.renaming) {
        renameCollection(inputName)
      }

      this.resetEditing()
    },
    resetEditing () {
      this.editing = {
        renaming: false,
        adding: false
      }
    }
  },
  watch: {
    selectedCollection (newVal, oldVal) {
      const wasCollectionSaved = oldVal && oldVal.id == null && newVal && newVal.id !== null
      if (wasCollectionSaved) {
        this.fetchCollectionsData()
      }
    }
  },
  created () {
    this.fetchCollectionsData()
  }
}
</script>

<style scoped>
</style>
