<template>
  <v-form ref="form"
          v-model="valid"
          lazy-validation
          @submit="inputDone"
          onSubmit="return false">

    <v-row no-gutters align="center">

      <v-col cols="3">
        <v-text-field v-model.number="form.x"
                      :rules="rules.point"
                      label="x"
                      required
                      class="mr-5" />
      </v-col>

      <v-col cols="3">
        <v-text-field v-model.number="form.y"
                      :rules="rules.point"
                      label="y"
                      required
                      class="mr-5" />
      </v-col>

      <v-col cols="6">
        <app-button @click="inputDone">
          add
        </app-button>

        <app-button @click="close"
                    class="ml-2">
          cancel
        </app-button>
      </v-col>

    </v-row>

  </v-form>
</template>

<script>
import { points } from '@/utils/constants/validation'

export default {
  name: 'AddForm',
  props: {
    isPointUnique: Function
  },
  data () {
    return {
      valid: true,
      form: {
        x: null,
        y: null
      },
      rules: {
        point: [
          v => v !== null || 'Is required',
          v => Number.isInteger(v) || 'Must be a number',
          v => v >= points.minVal || `>= ${points.minVal}`,
          v => v <= points.maxVal || `<= ${points.maxVal}`
        ]
      }
    }
  },
  methods: {
    inputDone () {
      if (this.validate()) this.$emit('inputDone', this.form)
    },
    validate () {
      const isFieldsValid = this.$refs.form.validate()
      const isUnique = this.isPointUnique(this.form)

      if (!isUnique) this.addError('The point you are adding must be unique')

      return isFieldsValid && isUnique
    },
    clearErrors () {
      this.$refs.form.resetValidation()
    },
    close () {
      this.clearErrors()
      this.$emit('close')
    }
  },
  created () {
    this.form = {
      x: null,
      y: null
    }
  }
}
</script>

<style scoped>
</style>
