<template>
  <v-row no-gutters align="center">

    <v-col cols="6">
      <v-form ref="form"
              v-model="valid"
              lazy-validation
              @submit="processFile"
              onSubmit="return false">
        <v-file-input v-model="file"
                      :rules="validation"
                      label="File input" />
      </v-form>
    </v-col>

    <v-col cols="6">
      <app-button @click="processFile"
                  class="ml-2 mr-2">
        ok
      </app-button>

      <app-button @click="close">
        cancel
      </app-button>
    </v-col>

  </v-row>
</template>

<script>
import { validateAndMap } from '@/utils/fileUtils'

export default {
  name: 'FileImport',
  data () {
    return {
      valid: true,
      file: null,
      validation: [
        v => !!v || 'File is required',
        v => (v && this.acceptedMimes.includes(v.type)) || 'Wrong file type - need .txt/.csv'
      ],
      acceptedMimes: [
        'application/vnd.ms-excel',
        'text/plain'
      ]
    }
  },
  methods: {
    validate () {
      return this.$refs.form.validate()
    },
    clearErrors () {
      this.$refs.form.resetValidation()
    },
    close () {
      this.clearErrors()
      this.$emit('close')
    },
    processFile () {
      if (!this.validate()) return

      const emitData = data => (this.$emit('imported', data))

      this.constructData(this.file)
        .then(emitData)
        .catch(this.addError)
    },
    constructData (file) {
      const parseData = data => {
        const byNewLine = /\r\n|\n/
        const byWhiteSpace = /(\s+)/

        const removeWhiteSpaces = item => item.trim().length > 0

        const parseLine = line => line
          .split(byWhiteSpace)
          .filter(removeWhiteSpaces)

        const arrayOfData = data
          .split(byNewLine)
          .map(parseLine)

        return validateAndMap(arrayOfData)
      }

      return file.text().then(parseData)
    }
  }
}
</script>

<style scoped>
</style>
