<template>
  <div>

    <v-row v-if="!importing && !adding" justify="space-between">
      <v-col cols="10">

        <app-button @click="showAdd"
                    class="mr-2">
          <v-icon>mdi-plus</v-icon>
        </app-button>

        <app-button @click="$emit('clear')"
                    :disabled="isPointsEmpty"
                    class="mr-2">
          clear
        </app-button>

        <app-button @click="importing = true"
                    class="mr-2">
          <v-icon>mdi-file-upload-outline</v-icon>
        </app-button>

        <app-button v-if="localSaveEnabled"
                    @click="$emit('saveLocal')"
                    class="mr-2">
          save local
        </app-button>

        <app-button @click="saveToFile"
                    :disabled="isPointsEmpty"
                    class="mr-2">
          <v-icon>mdi-download</v-icon>
        </app-button>
      </v-col>

      <v-col cols="2">
        <div class="text-end">
          <app-button :disabled="isPointsEmpty"
                      @click="$emit('square')"
                      color="success">
            squares!
          </app-button>
        </div>

      </v-col>
    </v-row>

    <file-import v-if="importing"
                 @imported="imported"
                 @close="importing = false" />

    <add-form v-if="adding"
              :isPointUnique="isPointUnique"
              @inputDone="addPoint"
              @close="hideAdd" />

  </div>
</template>

<script>
import FileImport from '@/components/points/list/FileImport'
import AddForm from '@/components/points/list/AddForm'
import { saveAs } from 'file-saver'

export default {
  name: 'ListControls',
  props: {
    points: Array,
    localSaveEnabled: Boolean,
    isPointUnique: Function
  },
  components: {
    FileImport,
    AddForm
  },
  data () {
    return {
      importing: false,
      adding: false
    }
  },
  computed: {
    isPointsEmpty () {
      return !this.points.length
    }
  },
  methods: {
    saveToFile () {
      const extractData = ({ x, y }) => ({ x, y })
      const toText = p => Object.values(p).join(' ')

      const transformedData = this.points
        .map(extractData)
        .map(toText)
        .join('\n')

      const blob = new Blob([transformedData], { type: 'text/plain;charset=utf-8', endings: 'native' })

      saveAs(blob, 'data.csv')
    },
    showAdd () {
      this.adding = true
    },
    hideAdd () {
      this.adding = false
    },
    addPoint (point) {
      this.$emit('addPoint', point)
    },
    imported (data) {
      this.importing = false
      this.$emit('imported', data)
    }
  }
}
</script>

<style scoped>
</style>
