<template>
  <div>

    <v-row>
      <v-col cols="12">

        <app-table :headers="table.headers"
                   :items="points">

          <template #actions>
            <slot name="actions" />
          </template>

          <template #items="{ item }">
            <td> {{ item.x }}</td>
            <td> {{ item.y }}</td>
          </template>

          <template #item.action="{ item }">
            <app-button @click="removePoint(item)" icon>
              <v-icon>mdi-delete-outline</v-icon>
            </app-button>
          </template>

          <template #item.new="{ item }">
            <app-button v-if="item.id === undefined"
                        readonly
                        icon>
              <v-icon>mdi-new-box</v-icon>
            </app-button>
          </template>

        </app-table>

      </v-col>
    </v-row>

  </div>
</template>

<script>
import AppButton from '@/components/global/AppButton'

export default {
  name: 'PointsList',
  components: { AppButton },
  props: {
    points: Array
  },
  data () {
    return {
      table: {
        headers: [
          { text: 'x', value: 'x', sortable: true },
          { text: 'y', value: 'y', sortable: true },
          { text: '', value: 'new', sortable: false, width: 20 },
          { text: '', value: 'action', sortable: false, width: 20 }
        ]
      }
    }
  },
  methods: {
    removePoint (point) {
      this.$emit('pointRemoved', point)
    }
  }
}
</script>

<style scoped>
</style>
