<template>
  <v-row align="center" justify="center">
    <v-col col="12">
      <p class="text-center">
        Just a friendly hello :)
      </p>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'HelloView'
}
</script>

<style scoped>
</style>
