<template>
  <div>

    <v-row>
      <v-col cols="12" xl="4" lg="5" md="7" sm="9">

        <points-collection @collectionSelected="onCollectionSelected"
                           @collectionRenamed="onCollectionRenamed"
                           @collectionSaved="onCollectionSaved"
                           @localCollectionDeleted="deleteLocalPoints"
                           class="mb-5" />

        <points-list v-if="isCollectionSelected && !showSquares"
                     :points="points"
                     @pointRemoved="onPointRemoved">
          <template #actions>
            <list-controls :points="points"
                           :localSaveEnabled="isLocalSaveEnabled"
                           :isPointUnique="isPointUnique"
                           @addPoint="addPoint"
                           @imported="dataImported"
                           @clear="clearPoints"
                           @saveLocal="saveLocalPoints"
                           @square="handleSquare" />
          </template>
        </points-list>

        <square-list v-if="isCollectionSelected && showSquares"
                     :points="points"
                     @close="showSquares = false" />

      </v-col>
    </v-row>

  </div>
</template>

<script>
import PointsCollection from '@/components/points/collection/PointsCollection'
import PointsList from '@/components/points/list/PointsList'
import SquareList from '@/components/points/SquareList'
import ListControls from '@/components/points/list/ListControls'
import pointsApi from '@/api/pointsApi'
import _ from 'lodash'
import collectionsApi from '@/api/collectionsApi'

export default {
  name: 'PointsView',
  components: {
    PointsCollection,
    PointsList,
    ListControls,
    SquareList
  },
  data () {
    return {
      points: [],
      showSquares: false
    }
  },
  computed: {
    selectedCollection () {
      return this.$store.state.collections.selected
    },
    isCollectionSelected () {
      return this.selectedCollection && (this.selectedCollection.id !== null || this.selectedCollection.localId)
    },
    isLocalSaveEnabled () {
      return !!this.selectedCollection.localId
    },
    pointsById () {
      const toById = (all, point) => {
        const id = this.constructId(point)
        all[id] = point
        return all
      }

      return this.points.reduce(toById, {})
    }
  },
  methods: {
    fetchPointsData (collectionId) {
      return pointsApi.fetchByCollection(collectionId)
        .then(({ data }) => {
          this.points = data
        })
        .catch(this.addError)
    },
    updateCollection (id, payload) {
      return collectionsApi.updateCollection(id, payload)
        .then(({ data }) => {
          return this.augmentCollectionData(data)
        })
        .catch(this.addError)
    },
    persistCollection (payload) {
      return collectionsApi.createCollection(payload)
        .then(({ data }) => {
          return this.augmentCollectionData(data)
        })
        .catch(this.addError)
    },
    augmentCollectionData (data) {
      return {
        ...data,
        localId: null,
        persisted: true
      }
    },
    constructId ({ x, y }) {
      return `${x},${y}`
    },
    isPointUnique ({ x, y }) {
      const id = this.constructId({ x, y })
      return !this.pointsById[id]
    },
    getLocalPointsData (localId) {
      return this.$store.getters['points/getPoints'](localId) || []
    },
    deselectCollection () {
      this.$store.commit('collections/deselectCollection')
    },
    selectCollection (collection) {
      this.$store.commit('collections/selectCollection', collection)
    },
    saveLocalPoints () {
      this.$store.commit('points/savePoints', {
        points: this.points,
        collectionId: this.selectedCollection.localId
      })
    },
    /**
     * Can get:
     * null - there is no collection selected
     * persisted collection - load from remote
     * local collection - load from store
     * @param collection
     */
    onCollectionSelected (collection) {
      this.selectCollection(collection)

      if (!collection) return

      this.showSquares = false

      if (collection.persisted) {
        this.fetchPointsData(collection.id)
      } else {
        this.points = this.getLocalPointsData(collection.localId)
      }
    },
    onCollectionRenamed (collection) {
      this.selectCollection(collection)
    },
    onCollectionSaved (collection) {
      const deleteLocalData = () => {
        this.$store.commit('collections/deleteCollection', collection.localId)
        this.deleteLocalPoints(collection.localId)
      }

      const payload = { name: collection.name, points: this.points }

      if (collection.persisted) {
        this.updateCollection(collection.id, payload)
          .then(col => {
            this.onCollectionSelected(col)
          })
          .catch(this.addError)
      } else {
        this.persistCollection(payload)
          .then(resp => {
            if (!collection.persisted) {
              deleteLocalData(collection)
            }
            this.onCollectionSelected(resp)
          })
      }
    },
    deleteLocalPoints (localId) {
      this.$store.commit('points/deletePoints', localId)
    },
    onPointRemoved (point) {
      const prop = point.id ? 'id' : 'localId'

      this.points = this.points.filter(p => p[prop] !== point[prop])
    },
    clearPoints () {
      this.points = []
    },
    dataImported ({ data, errors, warnings }) {
      const constructMessage = m => `Line ${m.line} - ${m.message}`

      this.addError(errors.map(constructMessage))
      this.addWarning(warnings.map(constructMessage))

      this.points = data.map(d => ({
        ...d,
        localId: _.uniqueId('point_')
      }))
    },
    addPoint (point) {
      this.points = [
        {
          ...point,
          localId: _.uniqueId('point_')
        },
        ...this.points
      ]
    },
    handleSquare () {
      this.showSquares = true
    }
  },
  created () {
    this.onCollectionSelected(this.selectedCollection)
  }
}
</script>

<style scoped>
</style>
