<template>
  <v-row>
    <v-col cols="12">
      <app-button @click="startJob">
        start job!
      </app-button>

      <p v-for="(square, index) in data" :key="index">
        {{ square }}
      </p>
    </v-col>
  </v-row>
</template>

<script>
import pointsApi from '@/api/pointsApi'

export default {
  name: 'Squares',
  props: [
    'id',
    'localId'
  ],
  data () {
    return {
      points: [],
      worker: null,
      started: false,
      data: []
    }
  },
  computed: {
    canStart () {
      return this.points.length && !this.started
    }
  },
  methods: {
    fetchPointsData (collectionId) {
      return pointsApi.fetchByCollection(collectionId)
        .then(r => (this.points = r))
        .catch(this.addError)
    },
    getLocalPointsData (localId) {
      return this.$store.getters['points/getPoints'](localId) || []
    },
    initWorker () {
      this.worker = new Worker('../utils/squareWorker.js', { type: 'module' })

      this.worker.onmessage = this.onReceivedData
    },
    startJob () {
      this.started = true
      this.worker.postMessage(this.points)
    },
    onReceivedData (e) {
      this.data.push(e.data)
    }
  },
  created () {
    if (this.id) {
      this.fetchPointsData(this.id)
    } else if (this.localId) {
      this.points = this.getLocalPointsData(this.localId)
    } else {
      this.addError('Wrong data - no collection found')
    }

    this.initWorker()
  }
}
</script>

<style scoped>
</style>
