<template>
  <v-row no-gutters>
    <v-col cols="12">

      <v-alert v-for="msg in allMessages" :key="msg.type"
               v-model="visible[msg.type]"
               @input="handleInput($event, msg.type)"
               :type="msg.type"
               dense
               dismissible>
        <ul>
          <li v-for="(m, i) in msg.messages" :key="i">
            {{ m}}
          </li>
        </ul>
      </v-alert>

    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'AppMessages',
  data () {
    return {
      visible: {
        error: false,
        warning: false,
        info: false
      }
    }
  },
  computed: {
    allMessages () {
      return [
        { messages: this.errors, type: 'error', clear: this.clearErrors },
        { messages: this.warnings, type: 'warning', clear: this.clearWarnings },
        { messages: this.infos, type: 'info', clear: this.clearInfos }
      ]
    },
    allMessagesByType () {
      return this.allMessages.reduce((all, item) => {
        all[item.type] = item
        return all
      }, {})
    },
    errors () {
      return this.$store.state.system.errors
    },
    warnings () {
      return this.$store.state.system.warnings
    },
    infos () {
      return this.$store.state.system.infos
    }
  },
  watch: {
    errors () {
      this.visible.error = this.errors.length > 0
    },
    warnings () {
      this.visible.warning = this.warnings.length > 0
    },
    infos () {
      this.visible.info = this.infos.length > 0
    }
  },
  methods: {
    handleInput (val, type) {
      if (!val) this.allMessagesByType[type].clear()
    }
  }
}
</script>

<style scoped>
</style>
