<template>
  <v-app-bar app color="primary accent-4" dark>

    <v-toolbar-title @click="navigateHome" class="cursor-pointer">
      Points app
    </v-toolbar-title>

    <div class="flex-grow-1"></div>

    <!-- full menu -->
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn v-for="(item, index) in menu"
             :key="index"
             :to="item.link"
             text>
        {{ item.title }}
      </v-btn>
    </v-toolbar-items>

    <!-- mobile-->
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn v-on="on"
               icon
               color="white"
               class="hidden-md-and-up">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, index) in menu"
                     :key="index"
                     :to="item.link"
                     link>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

  </v-app-bar>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      menu: [
        { title: 'Points', link: '/' },
        { title: 'Hello', link: '/hello' }
      ]
    }
  },
  methods: {
    navigateHome () {
      if (this.$router.currentRoute.path !== '/') this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer
}
</style>
