<template>
  <v-app>

    <app-navigation />

    <v-content>
      <v-container fluid>

        <app-messages />
        <router-view />

      </v-container>
    </v-content>

  </v-app>
</template>

<script>
import AppNavigation from '@/components/AppNavigation'
import AppMessages from '@/components/AppMessages'

export default {
  name: 'app',
  components: {
    AppNavigation,
    AppMessages
  }
}
</script>

<style>
</style>
