<template>
  <v-btn v-bind="$attrs"
         v-on="$listeners"
         :small="small"
         :color="color">
    <slot/>
  </v-btn>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    color: {
      type: String,
      default: 'primary'
    },
    small: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>
</style>
