<template>
  <div>

    <v-row no-gutters>
      <v-col cols="12">
        Total items: {{ $attrs.items.length }}
      </v-col>
    </v-row>

    <v-row no-gutters>
      <v-col cols="12">
        <slot name="actions" />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">

        <v-data-table v-bind="$attrs"
                      v-on="$listeners"
                      :page.sync="page"
                      :items-per-page="itemsPerPage"
                      @page-count="pageCount = $event"
                      fixed-header
                      hide-default-footer
                      height="400">

          <template v-for="(_, slot) of tableSlots"
                    v-slot:[slot]="scope">
            <slot :name="slot" v-bind="scope" />
          </template>

        </v-data-table>

        <div class="text-center">
          <v-pagination v-model="page"
                        :length="pageCount" />

          <v-select :value="itemsPerPage"
                    :items="itemsPerPageOptions"
                    @change="itemsPerPage = parseInt($event)"
                    label="Items shown" />

        </div>

      </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: 'AppTable',
  data () {
    return {
      itemsPerPageOptions: [5, 10, 20, 50],
      page: 1,
      itemsPerPage: 0,
      pageCount: 0
    }
  },
  computed: {
    tableSlots () {
      // good one, i should say to myself ;)
      const { actions, ...y } = this.$scopedSlots

      return y
    }
  },
  created () {
    this.itemsPerPage = this.itemsPerPageOptions[2]
  }
}
</script>

<style scoped>
</style>
